/* Text color (tomato): #ff6347 
(dark gray) #2b2b2b: ;
Primary color (dark gray) #2b2b2b: ;;
 */

body {
  background-color: rgb(98, 215, 143);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-variant: inherit;
  line-height: 1.6;
}

.button-class {
  background-color: rgb(60, 164, 95);
  border: none;
  border-bottom: 4px solid tomato;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: auto;
  font-size: 16px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  height: 10%;
  width: 100%;  
  /*might delete later*/
  -webkit-animation-duration: 7s;
    animation-duration: 4s;
    -webkit-animation-name: slidein;
    animation-name: slidein;
}

.button-class:hover {
  color: green;
}

@keyframes slidein {
  from {
    margin-left: 300%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* Small devices */
@media only screen and (max-width: 500px) {
  .modal {
    width: 140px;
  }

  .pokemon-img {
  width: 100%;
  }
}

/* Large devices */
@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal {
    width: 50%;
  }
  
  #modal-container.is-visible {
    width: 50%;
  }

  .pokemon-img {
  width: 45%;
  }
}

h1 {
  font-size: 30px; 
  margin-left: 37px;
}

.pokemon-list {
  list-style-type: none;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  background-color: rgba(215, 143, 152, 0.8);
  box-sizing: border-box;
  display: grid;
  text-align: center;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  overflow: scroll;
  text-transform: capitalize;
}

.modal {
  align-items: center;
  background: rgb(98, 215, 143);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 15px; 
  width: 70%;
  max-width: 100%;
}

#modal-container.is-hidden {
  display: none;
}

.modal-close {
  align-self: end;
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
} 

.modal h2 { 
  margin-top: 0; 
} 
.modal p { 
  margin-bottom: 0; 
}

.pokemon-img {
  width: 45%;
}


.pokemon-navigation__item {
  display: inline-block;
  color: #000000
}

.navigation-list {
  color: #000000
}

.list-group-item {

}

.list-group-item:first-child {
border-radius: 20px;
}

.list-group-item:last-child {
border-radius: 20px;
}

.list-group-item-action {
 border-radius: 20px; 
 background-color: tomato;
}

.button-class:hover {
  background-color: tomato;
}

.btn-primary {
  background-color: rgb(198, 24, 24);
}

.btn-primary:hover {
  background-color: tomato;
}
