/* Text color (tomato): #ff6347 
(dark gray) #2b2b2b: ;
Primary color (dark gray) #2b2b2b: ;;
 */

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-variant: inherit;
  line-height: 1.6;
}

.pokemons-list {
  border: double;
  color: green;
}

.pokemons-items-list {
  color: rgb(255, 99, 71);
  font-size: 30px;
  font-weight: 600;
} 